*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --first-color: #F1F1F1;
    --second-color: #FB7813;
    --third-color: #dcdcdc;
    --fourth-color: #F1F1F1;
    --fifth-color: #f7f7f7;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  grid-column: 2;
  grid-row: 1;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: #2035a9;
  cursor: pointer;
}


table {
    border-collapse: collapse;
    width: 90%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    text-align: center;

    height: 200px;
    margin-top: 300px;

}

th, td {
  vertical-align: middle;
  border-top: 1px solid #dee2e6;

}

td {
  height: 200px;
}

th {
  height: 40px;
  padding: 3px;
  text-align: inherit;
  border-bottom: 2px solid #dee2e6;
  background-color: #e9ecef;
}

tbody tr:nth-of-type(even) {
  background-color: #f8f9fa;
}

button {
  cursor: pointer;
}

.table-container {
  grid-column: 2;

  display: flex;

}

td img{
  height: 190px;
  width: 190px;
}

.new_product{
  position: absolute;
  top: 250px;
}

@media screen and (max-width: 820px) {
    table {
      display: block;
      overflow-x: auto;
    }
}